<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
   {{{styles}}}
    <title>{{title}}</title>
</head>
{{> bootstrap/navbar-bt }}

<body>
   	{{{body}}}
   	<script src="/socket.io/socket.io.js"></script>
   	{{{js 'sockets'}}}
   	{{{js 'jquery'}}}
   	{{{js 'bootstrap.min'}}}
</body>
{{> bootstrap/footer-bt }}
</html>