<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
   {{{styles}}}
    <title>{{title}}</title>
</head>

{{>left-menu}}
<body id="layout">
	  {{> navigation-bar }}
   	{{{body}}}
   	{{{js 'jquery'}}}
   	{{{js 'bootstrap.min'}}}
    {{{js 'left-menu'}}}
   	<script src="/socket.io/socket.io.js"></script>
    {{{js 'tabs/chart'}}}
    {{{js 'tabs/chord'}}}
    {{{js 'tabs/raphael-min'}}}
	  {{{js 'sockets'}}}
	  {{{js 'dropper' }}}
    {{>upload}}
</body>
{{> bootstrap/footer-bt}}
</html>