<body>
	{{#if create}}
	<form method="POST" action="/band/save">
		<label for="name">name</label>
		<input type="text" name="name" required>
		<label for="description">description</label>
		<textarea name="description" cols="30" rows="10" required></textarea>
		<input type="submit">
	</form>
		
	{{else}}
	<div class="band">
		<span class="name">
			{{name}}
		</span>
		<span class="date">
			{{creation}}
		</span>
		<span class="author">
			{{author}}
		</span>
		<form action="/band/{{id}}/user/add" method="POST">
			<input type="hidden" name="adder" value="1">
			<input type="text" name="idUser" >
			<input type="hidden" name="idBand" value="{{id}}" >
			<input type="submit">
		</form>
		<div class="users">
			{{#each users}}
				<div class="user-li">
					<span class="user-li-name">
						 {{nickname}}
					</span>
				</div>
			{{/each}}
		</div>
	</div>
	{{/if}}
</body>