<body>	
	<h1>Tabs</h1>
	<div class="row index">
		<div class="col-md-8 left">
			<ul class="list-group">
			{{#each tabs}}
				<li class="list-group-item">
					<a href="/tab/profil/{{id}}">{{name}}</a>
					<a href="/tab/download/{{id}}" class="glyphicon glyphicon-download"></a>
					<span class="badge">{{note}}</span>
				</li>			
			{{/each}}
			</ul>
		</div>
		<div class="col-md-3 col-xs-12 right">
		<ul class="list-group">
		<h3>Top 10 Tabs</h3>
			{{#each topTabs}}
				<li class="list-group-item">
					<a href="/tab/profil/{{id}}">{{name}}</a>
					<a href="/tab/download/{{id}}" class="glyphicon glyphicon-download"></a>
					<span class="badge">{{note}}</span>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
</body>