<body>
	{{#if create}}
		<h1>{{title}}</h1>
		<p>Import your tab file here!</p>
		<div class="creation">
			<input type="text" value="name" required>
			<input type="file">
			<input type="submit">
		</div>
	{{else}}
		<h1>{{tab.title}}</h1>
		<div class="tab-name">
			{{tab.name}}
		</div>
		<div class="infos">
			<span class="tab-author">
				{{tab.author}}
			</span>
			<span id="tab-note">
				{{tab.note}}
			</span>
		</div>
		{{#if session.user }}
			<form action="comment/add/" method="POST" id="add-comment">
				<p>{{session.user.nickname}} write a comment!</p>
				<input type="number" name="note" id="post-note" min="0" max="5">
				<textarea name="body" id="post-body" cols="30" rows="10" placeholder="comment"></textarea>
				<input type="submit" id="submit-comment" class="btn btn-default" value="POST">
			</form>		
		{{/if}}

		<ul class="comments">
			{{#each comments}}
				<li class="comment">
					<span class="author">{{nickname}}</span>
					<span class="note">{{note}}</span>	
					<div class="body">{{body}}</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}

</body>