<body>
	{{#if create}}
		<h1>{{title}}</h1>
		<p>Import your tab file here!</p>
		<div class="creation">
			<input type="text" value="name">
			<input type="file">
			<input type="submit">
		</div>
	{{else}}
		<h1>{{tab.title}}</h1>
		<div class="tab-name">
			{{tab.name}}
		</div>
		<div class="infos">
			<span class="tab-author">
				{{tab.author}}
			</span>
			<span id="tab-note">
				{{tab.note}}
			</span>
		</div>
		<form action="comment/add/" method="POST">
			<label for="author">Author</label><input type="text" name="author" id="post-author">
			<input type="number" name="note" id="post-note" min="0" max="5">
			<textarea name="body" id="post-body" cols="30" rows="10" placeholder="comment"></textarea>
			<input type="submit" id="submit-comment" class="btn btn-default" value="POST">
		</form>
		<ul class="comments">
			{{#each comments}}
				<li class="comment">
					<span class="author">{{user.nickname}}</span>
					<span class="note">{{note}}</span>	
					<div class="body">{{body}}</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}

</body>