<body>
	{{#if create}}
		<h1>{{title}}</h1>
		<p>Import your tab file here!</p>
		<div class="creation">
			<input type="text" value="name">
			<input type="file">
			<input type="submit">
		</div>
	{{else}}
		<h1>{{tab.title}}</h1>
		<div class="name">
			{{tab.name}}
		</div>
		<div class="infos">
			<span class="author">
				{{tab.author}}
			</span>
			<span class="note">
				{{tab.note}}
			</span>
		</div>
		<form action="/tab/profil/{{tab.id}}/comment/add" method="POST">
			<label for="author">Author</label><input type="text" name="author" id="author">
			<textarea name="body" id="body" cols="30" rows="10"></textarea>
			<input type="submit" class="btn btn-default">
		</form>
		<div class="comments">
			{{#each comments}}
				<div class="author">
					{{author}}
				</div>
				<div class="comment">
					{{body}}
				</div>
			{{/each}}
		</div>
	{{/if}}

</body>