<body>
	{{#if create}}
		<h1>{{title}}</h1>
		<p>Import your tab file here!</p>
		<div class="creation">
			<input type="text" value="name" required>
			<input type="file">
			<input type="submit">
		</div>
	{{else}}
		<div class="tab-name">
			<h1>{{tab.name}} 
				<span id="tab-note" class="badge">{{tab.note}}</span>
				{{#if session.user}}
					{{#if isFavorite}}
						<a href="#rmFavorite" id="favorite-button-selected"> <span class="glyphicon glyphicon-heart" ></span>
						</a>
					{{else}}
						<a href="#addFavorite" id="favorite-button"> <span class="glyphicon glyphicon-heart" ></span>
						</a>											
					{{/if}}

				{{/if}}
 			
 				<a href="/tab/download/{{tab.id}}" id="download-button">
 					<span class="glyphicon glyphicon-download"></span>
 				</a>
 			</h1>
		</div>
		{{!-- draw the tab --}}
		<div class="vex-tabdiv" width="400" scale="1.0" editor="true" editor_height="80" style="position: relative;">
			<canvas class="vex-canvas" width="400" height="170"></canvas>
			<textarea class="editor">
			{{#if tabText}}
				{{tabText}}
			{{else}}
				options player=true tempo=140
				tabstave notation=true tablature=true
				notes 4-5-6/3 10/4
			{{/if}}
			</textarea>
		</div> 	{{!-- end vex tab div --}}
		<div class="infos">
			<span class="tab-author">
				{{tab.author}}
			</span>
		</div>
		{{#if session.user }}
			<div id = "comment-box">
					<form action="comment/add/" method="POST" class="form-comment" id="add-comment">
	 					<p>{{session.user.nickname}} write a comment!</p>
						<div class="post-comment input-group">
							<input id="post-body" name="body" cols="20" rows="1" placeholder="comment" type="text" class="form-control">
						    <div class="input-group-btn">
								<input type="number" name="note" id="post-note" min="0" max="5" class="btn btn-default" value="0">
								<input type="submit" id="submit-comment" class="btn btn-warning" value="POST">
							</div>
						</div> 
					</form>		
		
				<ul class="comments">
					{{#each comments}}
						<li class="comment">
							<span class="author">{{nickname}}</span>
							<span class="note">{{note}}/5 </span>	
							<div class="body">{{body}}</div>
						</li>
						<hr>
					{{/each}}
				</ul>
			</div>
		{{/if}} {{!-- end div comment box --}}
	{{/if}}

</body>