<body>
	{{#if create}}
		<h1>{{title}}</h1>
		<p>Import your tab file here!</p>
		<div class="creation">
			<input type="text" value="name" required>
			<input type="file">
			<input type="submit">
		</div>
	{{else}}
		<h1>{{tab.title}}</h1>
		<div class="tab-name">
			{{tab.name}}
		</div>
		<div class="infos">
			<span class="tab-author">
				{{tab.author}}
			</span>
			<span id="tab-note">
				{{tab.note}}
			</span>
		</div>
		<div id = "comment-box">
			{{#if session.user }}


				<form action="comment/add/" method="POST" class="form-comment" id="add-comment">
 					<p>{{session.user.nickname}} write a comment!</p>
					<div class="post-comment input-group">
						<input id="post-body" name="body" cols="20" rows="1" placeholder="comment" type="text" class="form-control">
					    <div class="input-group-btn">
							<input type="number" name="note" id="post-note" min="0" max="5" class="btn btn-default" value="0">
							<input type="submit" id="submit-comment" class="btn btn-warning" value="POST">
						</div>
					</div> 

				</form>		
			{{/if}}
	
			<ul class="comments">
				{{#each comments}}
					<li class="comment">
						<span class="author">{{nickname}}</span>
						<span class="note">{{note}}/5 </span>	
						<div class="body">{{body}}</div>
					</li>
					<hr>
				{{/each}}
			</ul>
		</div>
	{{/if}}

</body>