<body>
	{{!-- file which manages all user views --}}
	{{#if create}}
		<h1>Welcome to the {{APP_NAME}} website!</h1>
		<form method="POST" action="/user/save" id="create-user" role="form" >
		<div class="form-group">
			<label for="nickname">pseudo</label>
			<input class="form-control" type="text" name="nickname" required>
			<label for="email">email</label>
			<input class="form-control" type="email" name="email" required> 
			<label for="lastname">lastname</label>
			<input class="form-control" type="text" name="lastname">
			<label for="firstname">firstname</label>
			<input class="form-control" type="text" name="firstname" required> 
			<label for="password" >password</label>
			<input class="form-control" type="password" name="password" required>
			<label for="description">description</label>
			<textarea class="form-control" type="text" name="description" rows="3"></textarea>
			<label for="birthday">birthday</label>
			<input class="form-control" type="date" name="birthday">
			<input class="form-control btn" type="submit" value="SIGN IN" >			
		</div>

	</form>

	{{else}}
		<div class="user-profil" id="{{id}}">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="rounded">
						<div>{{{img "macaque.png"}}}</div>
					</div>
				</div>
				<div class="col-md-4">
					{{!-- informations about user --}}

					<div class="infos">
						<span class="nickname">
								{{user.nickname}}
						</span>

						<br>
						<span class="firstname">
							{{user.firstname}}
						</span>
						 <span class="lastname">
							{{user.lastname}}
						</span>
						{{#if user.birthday}}
							<br>
							<span class="birthday">
								{{user.birthday}}
							</span>
						{{/if}}
						<br>
						<br>
						<div class="description">
							{{user.description}}
						</div>						
					</div> 
				</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 right-side">
				{{!-- right column --}}
				{{#if session.user }}
					<div class="follow-container">
							{{#unless isFollower}}
								<a id="button-follow" class="btn" href="#follow">
									Follow
								</a>		
							{{else}}
								<a id="button-unfollow" class="btn" href="#unfollow">
									Unfollow
								</a>							
							{{/unless}}
							<hr>
					</div>
				{{/if}}
					<div class="tricks">
						<div class="glyph-title-container">
							<h3 class="glyph-title">
								Favorites
							</h3>
							<h3 class="glyph-title">
								Tabs
							</h3>
							<h3 class="glyph-title">
								Rates
							</h3>									
						</div>
				
						<span class="glyphicon glyphicon-heart-empty"></span>
						<span class="glyphicon glyphicon-music"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<br>
						<span class="glyph-number glyph-number-favorites">
							{{user.nbFavorites}}
						</span>
						<span class="glyph-number glyph-number-tabs">
							{{user.nbTabs}}
						</span>
						<span class="glyph-number glyph-number-stars">
							{{user.nbStars}}
						</span>												
					</div>
					<hr>
					<h2>Followers</h2>
					<div class="followers">
						<ul>
							{{#each followers}}
							<div class="rounded">
								<li>{{{img "macaque.png"}}}</li>
							</div>
							{{/each}}
						</ul>						
					</div>
					<a href="#list">
						See all followers
					</a>
			</div>  {{!-- end right side --}}
			</div> {{!-- end rows --}}

		</div>
	{{/if}}
</body>