<body>
	<h1>{{title}}</h1>
	<div class="user">
		<div class="nickname">
			{{nickname}}
		</div>
		<div class="infos">
			<span class="firstname">
				{{firstname}}
			</span>
			<span class="lastname">
				{{lastname}}
			</span>
			<span class="birthday">
				{{birthday}}
			</span>
		</div>
		<div class="description">
			{{description}}
		</div>
	</div>
</body>